<div class="container">
    <div class="page-header">
        <h1>公众号</h1>
    </div>
    <p class="alert alert-danger">QQ群34034360人数已满500人。请关注公众号“彬哥出品”。</p>
    <div>
            <img src="/img/mp.png" width="100%">
    </div>
    <div class="page-header">
        <h1>打赏</h1>
    </div>
    <p class="alert alert-danger">为了让我更有动力抽出时间维护这个插件，您可以向我打赏表示支持。</p>
    <div>
        <img src="/img/wechat-pay.jpg" width="250" style="margin-right: 20px;vertical-align:top;">
        <img src="/img/alipay.jpg" width="250" style="vertical-align:top;">
    </div>
</div>
